<h1>Bloggers#index</h1>
<p>Find me in app/views/bloggers/index.html.erb</p>
<p>List of bloggers on system:</p>
<ul>
  <li>Accessible to all users from site sidebar</li>
  <li>Blogger names are linked to Blog author detail pages.</li>
</ul>
<%= link_to "Home", root_path %>