<h1>Bloggers#show</h1>
<p>Find me in app/views/bloggers/show.html.erb</p>
<p>Information for a specified author (by id) and list of their blog posts:</p>
<ul>
  <li style="text-decoration: line-through;">Accessible to all users from author links in blog posts etc.</li>
  <li style="text-decoration: line-through;">Contains some biographical information about the blogger/author.</li>
  <li style="text-decoration: line-through;">List sorted by post date (newest to oldest).</li>
  <li style="text-decoration: line-through;">Not paginated.</li>
  <li style="text-decoration: line-through;">List items display just the blog post name and post date.</li>
  <li style="text-decoration: line-through;">Blog post names are linked to blog detail pages.</li>
</ul>

<div>
  <%= @blogger.name %>
</div>
<div>
  <%= @blogger.bio %>
</div>
<div>
  <ul>
  <% @blogger.blogs.each do |blog| %>
    <li>
      <%= link_to "#{blog.name}", "/blog/blogs/#{blog.id}" %>
      <span><%= blog.post_date.strftime("(%b. %d, %Y)") %> - </span>
    </li>
  <% end %>
  </ul>
</div>
