<h1>Bloggers#show</h1>
<p>Find me in app/views/bloggers/show.html.erb</p>
<p>Information for a specified author (by id) and list of their blog posts:</p>
<ul>
  <li>Accessible to all users from author links in blog posts etc.</li>
  <li>Contains some biographical information about the blogger/author.</li>
  <li>List sorted by post date (newest to oldest).</li>
  <li>Not paginated.</li>
  <li>List items display just the blog post name and post date.</li>
  <li>Blog post names are linked to blog detail pages.</li>
</ul>
