<h1>Blogs#index</h1>
<p>Find me in app/views/blogs/index.html.erb</p>
<p>List of all blog posts:</p>
<ul>
  <li style="text-decoration: line-through;">Accessible to all users from a sidebar link.</li>
  <li style="text-decoration: line-through;">List sorted by post date (newest to oldest).</li>
  <li>List paginated in groups of 5 articles.</li>
  <li style="text-decoration: line-through;">List items display the blog title, post date, and author.</li>
  <li style="text-decoration: line-through;">Blog post names are linked to blog detail pages.</li>
  <li style="text-decoration: line-through;">Blogger (author names) are linked to blog author detail pages.</li>
</ul>
<%= link_to "Home", root_path %>

<% if @blogs.any? %>
<div>
  <% @blogs.each do |blog| %>
    <div>
      <%= link_to "#{blog.name}", "/blog/blogs/#{blog.id}" %>
      <span><%= blog.post_date.strftime("(%b. %d, %Y)") %> - </span>
      <%= link_to "#{blog.author.name}", "/blog/bloggers/#{blog.author.id}" %>
    </div>
  <% end %>
</div>
<% else %>
<p>There are no blogs.</p>
<% end %>